<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Código Chegou!</title>
</head>
<body>

<h1>🎉📚🚀 Olá, Estudante! Seu Código Chegou! 🚀📚🎉</h1>

<p>Como vai, pessoal? Esperamos que todos estejam prontos para mergulhar de cabeça nos estudos, porque temos uma grande notícia para vocês! O tão aguardado código de acesso para o nosso aplicativo de gerenciamento de estudos já está disponível!</p>

<p>Aqui está o seu código: <strong th:text="${code}"></strong></p>

<p>Com esse código em mãos, você poderá desbloquear todo o potencial do nosso aplicativo e começar a organizar seus estudos de forma eficiente e eficaz. Estamos aqui para apoiá-los em cada passo do caminho!</p>

<p>Juntos rumo ao sucesso acadêmico!</p>

<p><strong>Equipe Study Manager</strong></p>

</body>
</html>